@model List<FamilyGroupListViewModel>

@{
}

<table class="table table-striped" id="familyGroupListTable">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Edad</th>
            <th scope="col">Estado civil</th>
            <th scope="col">Escolaridad</th>
            <th scope="col">Ocupación</th>
            <th scope="col">Ingreso bruto mensual</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FamilyGroupListViewModel familyGroup in Model)
        {
            <tr>
                <td>@familyGroup.FullName</td>
                <td>@familyGroup.Relationship</td>
                <td>@familyGroup.Age</td>
                <td>@familyGroup.MaritalStatus</td>
                <td>@familyGroup.Scholarship</td>
                <td>@familyGroup.Ocupation</td>
                <td>@familyGroup.MonthlyGrossIncome</td>
                <td class="text-end"><button class="btn btn-danger" name="deleteRow" data-type="familyGroup">X</button></td>
            </tr>
        }
    </tbody>
</table>
