@model GuestHealthQuestionaireFormViewModel

@{
}

<form id="guestHealthQuestionaireForm">
    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question1" value="true" checked="@Model.Question1" />
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question1)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question2">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question2)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question3">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question3)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question4">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question4)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question5">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question5)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question6">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question6)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question7">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question7)
        </span>
    </label>

    <label class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Question8">
        <span class="form-check-label">
            @Html.DisplayNameFor(x => x.Question8)
        </span>
    </label>

    <p class="mt-3 mb-1">
        ¿Exposición a alguno de los siguientes en las últimas 3
        semanas?
    </p>

    <div class="border-start ps-3 mb-3">
        <label class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Question9">
            <span class="form-check-label">
                @Html.DisplayNameFor(x => x.Question9)
            </span>
        </label>

        <label class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Question10">
            <span class="form-check-label">
                @Html.DisplayNameFor(x => x.Question10)
            </span>
        </label>

        <label class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Question11">
            <span class="form-check-label">
                @Html.DisplayNameFor(x => x.Question11)
            </span>
        </label>

        <label class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Question12">
            <span class="form-check-label">
                @Html.DisplayNameFor(x => x.Question12)
            </span>
        </label>

        <label class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Question13">
            <span class="form-check-label">
                @Html.DisplayNameFor(x => x.Question13)
            </span>
        </label>
    </div>

    <div class="row">
        <div class="col-md-4 border p-2">
            <strong>Paciente</strong>
            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question14">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question14)
                </span>
            </label>

            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question15">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question15)
                </span>
            </label>
        </div>

        <div class="col-md-4 border p-2">
            <strong>Madre/Padre/Encargado</strong>
            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question16">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question16)
                </span>
            </label>

            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question17">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question17)
                </span>
            </label>
        </div>

        <div class="col-md-4 border p-2">
            <strong>Acompañante</strong>
            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question18">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question18)
                </span>
            </label>

            <label class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Question19">
                <span class="form-check-label">
                    @Html.DisplayNameFor(x => x.Question19)
                </span>
            </label>
        </div>
    </div>
</form>