@using CasaRM.WebApp.Shared.Models.Catalog
@model MinorPersonDataFormViewModel
@inject ApplicationCatalog _appCatalogs
@inject IEnumerable<ProvincesInfoCatalog> _provincesInfoCatalog

@{
}

<form id="minorPersonDataForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" class="form-control" aria-required="true" type="hidden" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FullName" class="form-control" aria-required="true" />
                <label asp-for="FullName" class="form-label">Nombre Completo</label>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FileNumber" class="form-control" aria-required="true" />
                <label asp-for="FileNumber" class="form-label">Número de expediente</label>
                <span asp-validation-for="FileNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input asp-for="DateOfBirth" class="form-control" aria-required="true" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" />
                <label asp-for="DateOfBirth" class="form-label">Fecha de Nacimiento</label>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input asp-for="Age" class="form-control" aria-required="true" readonly/>
                <label asp-for="Age" class="form-label">Edad</label>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="mb-3">
                <label asp-for="Gender" class="form-label text-muted text-sm">Sexo</label>
                <select class="form-select" asp-for="Gender">
                    @foreach (CatalogDto catalog in _appCatalogs.Genders)
                    {
                        <option value="@catalog.Description">@catalog.Description</option>
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Scholarship" class="form-label text-muted text-sm">Escolaridad</label>
                <select class="form-select" asp-for="Scholarship">
                    @foreach (CatalogDto catalog in _appCatalogs.Scholarships)
                    {
                        <option value="@catalog.Description">@catalog.Description</option>
                    }
                </select>
                <span asp-validation-for="Scholarship" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Nacionality" class="form-label text-muted text-sm">Nacionalidad</label>
                <select class="form-select" asp-for="Nacionality">
                    @foreach (CatalogDto catalog in _appCatalogs.Nationalities.OrderBy(x => x.Description))
                    {
                        <option value="@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(catalog.Description.ToLower())">
                            @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(catalog.Description.ToLower())
                        </option>
                    }
                </select>
                <span asp-validation-for="Nacionality" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Diagnosis" class="form-control" aria-required="true" />
                <label asp-for="Diagnosis" class="form-label">Diagnóstico</label>
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Treatment" class="form-control" aria-required="true" />
                <label asp-for="Treatment" class="form-label">Tratamiento</label>
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="TreatingPhysician" class="form-control" aria-required="true" />
                <label asp-for="TreatingPhysician" class="form-label">Médico Tratante</label>
                <span asp-validation-for="TreatingPhysician" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="AttentionService" class="form-label text-muted text-sm">Servicio Atención del Paciente</label>
                <select class="form-select" asp-for="AttentionService">
                    @foreach (CatalogDto catalog in _appCatalogs.AttentionServices.OrderBy(x => x.Description))
                    {
                        <option value="@catalog.Description">@catalog.Description</option>
                    }
                </select>
                <span asp-validation-for="AttentionService" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="mb-3">
                <label asp-for="Province" class="form-label text-muted text-sm">Provincia</label>
                <select class="form-select" asp-for="Province" title="Provincia">
                    @foreach (ProvincesInfoCatalog catalog in _provincesInfoCatalog)
                    {
                        <option value="@catalog.Title">@catalog.Title</option>
                    }
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="mb-3">
                <label asp-for="Canton" class="form-label text-muted text-sm">Cantón</label>
                <select class="form-select" asp-for="Canton"></select>
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="mb-3">
                <label asp-for="District" class="form-label text-muted text-sm">Distrito</label>
                <select class="form-select" asp-for="District"></select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="ExactDirection" class="form-control" aria-required="true" />
                <label asp-for="ExactDirection" class="form-label">Dirección Exacta</label>
                <span asp-validation-for="ExactDirection" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-floating mb-3">
                <input asp-for="SocialSecurityType" class="form-control" aria-required="true" />
                <label asp-for="SocialSecurityType" class="form-label">Tipo Seguro social</label>
                <span asp-validation-for="SocialSecurityType" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-floating mb-3">
                <input asp-for="Observations" class="form-control" aria-required="true" />
                <label asp-for="Observations" class="form-label">Observaciones</label>
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>